<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/head') %>
    <title>Add New Blog Page</title>
  </head>
  <body>
    <%-include('./partials/nav') %>
    <div class="container mt-3">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Add body to blog"
              id="body"
              style="height: 300px"
              name="body"
            ></textarea>
            <label for="floatingTextarea">Content</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="coverImage" class="form-label">Upload Cover Image</label>
          <input
            class="form-control"
            type="file"
            id="coverImage"
            name="coverImage"
          />
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
